<div class="register-page">
	<div>
		<h1>
			Register
			{{ colonist.name }} | {{ colonist.age }} | {{colonist.job_id}}
		</h1>
	</div>
	<div class="register-info">
		<form class="mars-form">
			<div>
				<input type="text" placeholder="Name"  [(ngModel)]="colonist.name" name="name" />
				<input type="number" placeholder="Age" [(ngModel)]="colonist.age" name="age" />

				<select [(ngModel)]="colonist.job_id"  class="select-job" name="job_id" placeholder= "Occupation">
					<option  [value]="NO_JOB_SELECTED" selected disabled>-- Select Occupation --</option>
					<option *ngFor="let job of marsJobs" [value]="job.id">{{ job.name }}</option>
				</select>
			</div>
		</form>
		<div class="checkin">
			<button [disabled]="!jobSelected" class="button">Check in</button>
		</div>
	</div>
</div>