<div class="register-page">
	<div>
		<h1>
			Register
		</h1>
	</div>
	<div class="register-info">
		<form [formGroup]="registerForm" class="mars-form" (ngSubmit)="onSubmit($event)">
			<div>
				<input type="text" placeholder="Name" formControlName="name" />
				<input type="number" placeholder="Age" formControlName="age" />

				<select formControlName="job_id" class="select-job" placeholder="Occupation">
					<option  [value]="NO_JOB_SELECTED" selected disabled>Select Occupation </option>
					<option *ngFor="let job of marsJobs" [value]="job.id">{{ job.name }}</option>
				</select>
			</div>

			<div class="checkin">
				<button>Check in</button>
			</div>
		</form>
	</div>
</div>